/.direnv

/vim/.vim/plugged
/vim/.vim/.netrwhist

/emacs/.emacs.d/ede-projects.el
/emacs/.emacs.d/elpa
/emacs/.emacs.d/private
/emacs/.emacs.d/recentf
/emacs/.emacs.d/smex-items
/emacs/.spacemacs.d/custom.el

/tmux/.tmux/plugins/*
!/tmux/.tmux/plugins/tpm

/result
