[submodule "fzf/apps/fzf"]
	path = fzf/apps/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = git@github.com:sorin-ionescu/prezto.git
