[submodule "fzf/apps/fzf"]
	path = fzf/apps/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = git@github.com:myme/prezto.git
[submodule "i3/apps/i3-gnome"]
	path = i3/apps/i3-gnome
	url = git@github.com:51v4n/i3-gnome.git
[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = git@github.com:myme/doom-emacs.git
[submodule "emacs/apps/emacs"]
	path = emacs/apps/emacs
	url = git://git.sv.gnu.org/emacs.git
[submodule "shell/apps/gogh"]
	path = shell/apps/gogh
	url = git@github.com:Mayccoll/Gogh.git
[submodule "haskell/apps/haskell-ide-engine"]
	path = haskell/apps/haskell-ide-engine
	url = git@github.com:haskell/haskell-ide-engine.git
