snippet log "Import logger"
import logging
logger = logging.getLogger(__name__)
endsnippet

snippet pp "Ad-hoc pretty print python object"
from pprint import pprint
pprint(${1:value})
endsnippet

snippet skip "Skip unittest"
@unittest.skip${1:('${2:Unittest skipped}')}
endsnippet
