prefix = /Users/mmyrseth/.local

@kafka:registry=http://engci-maven-master.cisco.com/artifactory/api/npm/Lysaker-npm-group/
//engci-maven-master.cisco.com/artifactory/api/npm/Lysaker-npm-group/:_password=QVA4MnJMSHo3S3R6SEhVWkxaVEc0VWZmYmFu
//engci-maven-master.cisco.com/artifactory/api/npm/Lysaker-npm-group/:username=lysaker-oslo-deployer
//engci-maven-master.cisco.com/artifactory/api/npm/Lysaker-npm-group/:email=noreply@cisco.com
//engci-maven-master.cisco.com/artifactory/api/npm/Lysaker-npm-group/:always-auth=true

[_token]
AuthSession=bXltZTo1NDIyQ0ZCODp3rNfQVDYYS00CA5AUMYRm9BxQ1g
version=1
path=/
httponly=true
expires=1443103673852
